:markdown
  # React Hello World

  React is a DOM manipulation library. It contains methods that allow it to set up a virtual DOM which will be automatically synchronised with the real DOM.

  ## Creating DOM nodes

  To manipulate the virtual DOM, we create nodes in the React component tree.

  Create a virtual DOM node like this:

:ruby
  code = <<-CODE
  React.createElement('h1', null, "Hello, world!");
  CODE
=code(code)

:markdown

  That second parameter is a hash of attributes:

:ruby
  code = <<-CODE
  React.createElement('h1', {title:'hello'}, "Hello, world!");
  CODE
=code(code)

:markdown

  React gives us a DOM object that contains helper helper methods for the built in HTML5 elements:

:ruby
  code = <<-CODE
  React.DOM.h1(null, "Hello, world!");
  CODE
=code(code)

:markdown

  ## Rendering DOM nodes

  Here we have created a single virtual DOM node. To put these into the browser we use ReactDOM. ReactDOM used to be part of React, but it was broken out in version 0.14 to emphasise the fact that React can be used to compose mobile apps. We can in theory use React to manage any tree shaped, XML based User Interface.

  Let's write to the DOM:

:ruby
  code = <<-CODE
  var h1 = React.DOM.h1(null, "Hello, world!");
  var root = document.getElementById('app');

  ReactDOM.render(h1, root);
  CODE
=code(code)

http://codepen.io/superluminary/pen/oxoGyK?editors=1011

:markdown

%section.exercise
  :markdown
    ## Exercise - Hello React

    Download the React starting point from here: TODO - Github link

    Display the message "hello world" in a div


