:markdown
  The DOM is a tree, things go inside other things, so the React virtual DOM allows us to create a tree too.

  The third parameter of createElement can be one of three things:

  1. A string
  2. A React Element
  3. An Array (or perhaps a function call that returns an array)

  ## Nesting A String

  We have already seen this. We simply pass a string as the third parameter and it becomes the innerText of the node.
  ```
  React.createElement('h1', null,
    "Hello from the h1"
  );
  ```

  ## Nesting A React Element:

  Say we want to nest an element inside another to create a tree. We can pass one as a child.

  ```
  React.createElement('h1', null,
    React.createElement('em', null
      'text inside the em element.'
    )
  );
  ```

  Here we have an em inside an h1.

  ### Nesting an Array of Elements

  This is the most common thing you will want to do

  ```
  // create the elements
  var h1 = React.DOM.h1(null, "Hi from the app...");
  var p = React.DOM.p(null, "...and here we have some content");

  // Create the app node
  var app = React.createElement('div', null, [h1, p]);

  // find the element in the real DOM we want to render into
  var root = document.getElementById('app');

  // Now render
  ReactDOM.render(app, root);

  ```

  Now we have an app containing an h1 and a p.

