:markdown
  To write React as it was meant to be written, we need a toolchain that can transpile JSX code down into regular JavaScript. We can build this ourselves if we have time, but it's a fairly complex thing to do. 

  CreateReactApp is a command line tool, created by Facebook that will give us a functioning toolchain with a few commands. It will give us:

  * Webpack - for compilation and build
  * JSX - Facebook's own JavaScript precursor for components
  * Live reload - when we make a change, the app will reload.

  ## Installation

  npm install -g create-react-app

