extends ../layouts/page_layout

block content
  .wrap
    article.six_col.center
      h1.center_contents Sign up

      form( action="/signup" method='POST')
        input(type='hidden', name='_csrf', value=_csrf)

        .form_row
          label(for='name') Name
          input.form-control(type='name', name='name', id='name', placeholder='Email', autofocus, required)

        .form_row
          label(for='email') Email
          input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)

        .form_row
          label(for='password') Password
          input.form-control(type='password', name='password', id='password', placeholder='Password', required)

        .form_row
          label(for='confirmPassword') Confirm Password
          input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password', required)

        .form_row.center_contents

          button(type='submit')
            i.fa.fa-user-plus
            | Signup

        include ../partials/social_auth
