header
  nav.main
    .home
      a(href="/")
        img( src="/images/logos/mountains.svg" alt="Forward Advance Learning" )

    ul
      li
        a( href="/contact/" ) Contact

      if !user
        li(class=(title == 'Login') ? 'active' : undefined)
          a(href='/login') Login
        li(class=(title == 'Create Account') ? 'active' : undefined)
          a(href='/signup') Create Account
      else
        li.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            if user.profile.picture
              img(src='#{user.profile.picture}')
            else
              img(src='#{user.gravatar(60)}')
            | #{user.profile.name || user.email || user.id}&nbsp;
            i.caret
          ul.dropdown-menu
            li
              a(href='/account') My Account
            li.divider
            li
              a(href='/logout') Logout

  nav.technology
    ul
      li
        a( href="/course/angular2/" ) Angular2
      li
        a( href="/course/angular/" ) AngularJS
      li
        a( href="/courses/" ) Courses
      //- li
      //-   a( href="/automation/" ) Gulp
      //- li
      //-   a( href="/es6/" ) ES6
      //- li
      //-   a( href="/typescript/" ) TypeScript
