nav.technology_banner

  h1 Developer Focused Training for the Modern Internet

  ul
    li
      a( href='/course/angular' )
        img( src='/images/logos/angular.svg' )
        span AngularJS
    li
      a( href='/course/angular2' )
        img( src='/images/logos/angular2.svg' )
        span Angular 2

    li
      a( href='/course/javascript-and-jquery' )
        img( src='/images/logos/javascript.svg' )
        span JavaScript

    li
      a( href='/course/mongo' )
        img( src='/images/logos/mongo.svg' )
        span MongoDB

    //- li
    //-   a( href='/course/html5' )
    //-     img( src='/images/logos/html5-light.svg' )
    //-     span HTML5

    li
      a( href='/course/backbone' )
        img( src='/images/logos/backbone.svg' )
        span BackboneJS

    li
      a( href='/course/sass' )
        img( src='/images/logos/sass.svg' )
        span SASS
