
    ## Functions

    SASS comes with a set of built in functions that we can use to transform variables, like so:

    ```scss
    $red: #f00;
    a {
      color:darken($red, 30%);
    }
    a:hover {
      color:lighten($red, 30%);
    }
    ```
