
section.exercise
  :markdown
    ## Further Exercise - Mixins

    Create a button mixin which sets a width, a height, a background-color, a padding and display:inline-block. Apply it to input type="submit", button, and a class="button"
