section
  :markdown
    CSS selectors allow us to chain selectors together. If we write:

    .homepage article {
      padding:10px;
    }

    ...this will match any article inside an element wit ha class of *homepage*.

    This is trmemndously useful, but quickly becomes painful to write. Consider the following CSS:

    ```css
    aside.sidebar nav li {
      margin-left:10px;
    }
    aside.sidebar nav li li {
      margin-left:20px;
    }
    ```

    Imagine we had 100 rules to apply to our aside.sidebar nav. We would get bored pretty quickly.

    ## Nesting SASS for fun and glory

    SASS lets us nest out selectors, like so:

    ```scss
    aside.sidebar {
      nav {
        li {
          margin-left:10px;
          li {
            margin-left:20px;
          }
        }
      }
    }
    ```

    This will compile down to the SASS above


section.exercise
  :markdown
    ## Exercise - Nested Sass

    Write nested queries to style the header with a horizontal nav bar, nicely positioned h1, and pretty background colour.


