:markdown
  Ionic 2 is a CSS/JavaScript framework that sits on top of Angular 2. It lets you produce cross platform HTML5 applications that look and feel like native applications. You can then bundle them up as applications using Cordova and release them onto the Apple App store, the Google Play Store, and the Microsoft Phone Store

  In short, Ionic lets you build cross platform mobile applications using ordinary Angular 2.

  ## Installation

  Installation is via NPM. If you haven't got it already, you'll need Node. Download it from nodejs.org. It's a double click install.

  Now we have Node, we can install Ionic. This is via NPM (Node Package Manager). At a command line, type the following:

  ```bash
  npm install -g ionic@beta
  ```

  Install Cordova
