extends ./layouts/home_layout

block content

  include partials/technology_banner

  .wrap
    article

      section

        for exercise in exercises
          h1
            a( href=['/course', exercise.course.slug, exercise.courseModule.slug, exercise.exercise.slug].join('/') )
              =exercise.courseModule.title
              =" - "
              =exercise.exercise.title
          != renderExercise(exercise.courseModule, exercise.exercise)
