extends layout

block content
  h1 Forward Advance

  nav.banner

    h1 Developer Focused Training for the Modern Internet

    ul
      li
        a( href='angular2' )
          img( src='/images/logos/angular2.svg' )
      li
        a( href='angular' )
          img( src='/images/logos/angular.svg' )
      li
        a( href='javascript' )
          img( src='/images/logos/javascript.svg' )
      li
        a( href='html5' )
          img( src='/images/logos/html5-light.svg' )

  .wrap
    article

      section
        h1 Angular 2 - Developer focused training for the modern internet
