extends ./layouts/home_layout

block content

  include partials/technology_banner

  .wrap
    article

      section

        //- for exercise in exercises
        //-   h1=exercise.title
        //-   =renderExercise(exercise)
