doctype html
html
  head
    include partials/meta
    include partials/css

  body
    include partials/header
    block content
    include partials/sharing
    include partials/footer
    include partials/javascript
    include partials/analytics
