# Routing

It's very possible to write a Backbone app that make no use of routing at all. Using Routing gives you some useful features though, specifically:

* Bookmarking
* A functional back button.

## Exercise

Update your cat app so that when you search, the URL is updated. Visiting that URL again brings up the same search.

## Reading

Read the router docs here: <http://backbonejs.org/#Router>

## Further reading

If you're interested in PushState, which is the future of web applications, read the
Router and History sections in the backbone source: <http://backbonejs.org/docs/backbone.html#backbone-router>
