$font-size:16px;
$scaling-factor:1.66;

$small: $font-size / $scaling-factor;
$normal: $font-size;
$large: $font-size * $scaling-factor;
$larger: $font-size * $scaling-factor * $scaling-factor;
$largest: $font-size * $scaling-factor * $scaling-factor * $scaling-factor;

@import 'imports/colours';

$gutter:20px;
$round: 3px;
$highlight_colour: $dark_grey;
$aside_width: 250px;

$max_text_width: 800px;
$max_menu_width: 200px;
$mobile: 800px;
$desktop: 1000px;
$page_width: $desktop;
$article_width: 600px;
