@import 'imports';
@import 'mixins/clearfix';

@import 'partials/box_sizing';
@import 'partials/body';
@import 'partials/layout';
@import 'partials/footer';
@import 'partials/a';
@import 'partials/typography';
@import 'partials/article';
@import 'partials/figure';
@import 'partials/buttons';
@import 'partials/forms';
@import 'partials/code';
@import 'partials/course_creator';

@import 'partials/course_links';
@import 'partials/course_selector';
@import 'partials/footer';
@import 'partials/action_bar';
@import 'partials/course_nav';
@import 'partials/intro';
@import 'partials/questions_answered';
@import 'partials/section_logo';
@import 'partials/share_links';
@import 'partials/subtitle';
@import 'partials/date';
@import 'partials/img.video';
@import 'partials/testimonials';
@import 'partials/technology_banner';
@import 'partials/exercise';
@import 'partials/mini_exercise';
@import 'partials/course_sidebar';
@import 'partials/box';
@import 'partials/exercise_resources';
@import 'partials/social_auth';
@import 'partials/monokai';

@import 'fonts/fa/font-awesome';

@import 'pages/book_page';
@import 'pages/course_page';
@import 'pages/exercise_page';
@import 'pages/homepage';


.pullout {
  font-size:$font_size * $scaling_factor;
  font-weight:800;
  -webkit-transform: skew(-15deg);
}

.highlight {
  font-weight:800;
}


aside.sidenote {
  position:absolute;
  right:$gutter;
  padding:$gutter;
  width:$aside_width;
  font-weight:800;
  border-radius:$round;
  border:1px solid $highlight_colour;
}

.date {
  font-style: italic
}

iframe {
  width:100% !important;
  // border:1px solid red !important;
}

.slideDown {
  transition:all 1s;
}

@media (max-width: $article_width+($aside_width*2)+($gutter*8)) {
  aside.pullquote {
    display:none;
  }
}

