@import 'imports';
@import 'mixins/clearfix';

@import 'partials/box_sizing';
@import 'partials/body';
@import 'partials/wrap';
@import 'partials/header';
@import 'partials/footer';
@import 'partials/a';
@import 'partials/typography';
@import 'partials/article';
@import 'partials/figure';
@import 'partials/buttons';
@import 'partials/forms';
@import 'partials/code';
@import 'partials/course_creator';
@import 'partials/course_selector';
@import 'partials/footer';
@import 'partials/header';
@import 'partials/intro';
@import 'partials/questions_answered';
@import 'partials/section_logo';
@import 'partials/share_links';
@import 'partials/subtitle';
@import 'partials/testimonials';
@import 'partials/monokai';

@import 'pages/book_page';
@import 'pages/course_page';
@import 'pages/exercise_page';
@import 'pages/homepage';


.pullout {
  font-size:$font_size * $scaling_factor;
  font-weight:800;
  -webkit-transform: skew(-15deg);
}

.highlight {
  font-weight:800;
}


aside.sidenote {
  position:absolute;
  right:$gutter;
  padding:$gutter;
  width:$aside_width;
  font-weight:800;
  border-radius:$round;
  border:1px solid $highlight_colour;
}

aside.box {
  border-radius:$round;
  background: $highlight_colour;
  padding:$gutter;
  margin: 0 auto 5em auto;
  * {
    color: $white;
    text-shadow:1px 1px darken($highlight_colour, 10%);
  }
  *:first-child {
    margin-top:0;
  }
  *:last-child {
    margin-bottom:0;
  }
}

.blog_article_list {
  section {
    width:auto;
  }
  a {
    text-decoration:none;
    color: $dark_grey;
    display:block;
  }
  a:hover {
    background: $light_grey
  }
  .read_more {
    font-weight:bold;
    text-align:right;
  }
}

.date {
  font-style: italic
}

iframe {
  width:100% !important;
  // border:1px solid red !important;
}

.slideDown {
  transition:all 1s;
}

@media (max-width: $article_width+($aside_width*2)+($gutter*8)) {
  aside.pullquote {
    display:none;
  }
}

