*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-weight: 400;
  color: #222;
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px; }

.wrap {
  width: 1000px;
  margin: 0 auto; }
  .wrap:after {
    content: '';
    clear: both;
    display: table; }
  @media (max-width: 1000px) {
    .wrap {
      margin: 0 20px;
      width: auto; } }

.liquid_wrap {
  width: auto;
  margin: 0 80px;
  max-width: 2000px; }
  @media (max-width: 1000px) {
    .liquid_wrap {
      margin: 0; } }

.one_col {
  width: 100%/12; }

.two_col {
  width: 16.66667%; }

.three_col {
  width: 25%; }

.four_col {
  width: 33.33333%; }

.five_col {
  width: 41.66667%; }

.six_col {
  width: 50%; }

.seven_col {
  width: 58.33333%; }

.eight_col {
  width: 66.66667%; }

.nine_col {
  width: 75%; }

.ten_col {
  width: 83.33333%; }

.eleven_col {
  width: 91.66667%; }

.twelve_col {
  width: 100%; }

.right {
  float: right; }

.left {
  float: left; }

.center {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.center_contents {
  text-align: center; }

@media (min-width: 1600px) and (max-width: 2000px) {
  .one_col, .two_col, .three_col, .four_col, .five_col, .six_col, .seven_col, .eight_col, .nine_col, .ten_col, .eleven_col, .twelve_col {
    padding: 0 60px; } }

@media (min-width: 1000px) and (max-width: 1600px) {
  .one_col, .two_col, .three_col, .four_col, .five_col, .six_col, .seven_col, .eight_col, .nine_col, .ten_col, .eleven_col, .twelve_col {
    padding: 0 40px; } }

@media (min-width: 800px) and (max-width: 1600px) {
  .one_col, .two_col, .three_col, .four_col, .five_col, .six_col, .seven_col, .eight_col, .nine_col, .ten_col, .eleven_col, .twelve_col {
    padding: 0 20px; } }

@media (min-width: 0) and (max-width: 800px) {
  .one_col, .two_col, .three_col, .four_col, .five_col, .six_col, .seven_col, .eight_col, .nine_col, .ten_col, .eleven_col, .twelve_col, .left, .right {
    width: auto;
    float: none; } }

header nav.main, header nav.technology {
  margin: 0;
  padding: 0 20px;
  background: #fff; }
  header nav.main:after, header nav.technology:after {
    content: '';
    clear: both;
    display: table; }
  header nav.main .home, header nav.technology .home {
    float: left; }
    header nav.main .home img, header nav.technology .home img {
      width: 300px; }
  header nav.main ul, header nav.main li, header nav.technology ul, header nav.technology li {
    list-style: none;
    margin: 0;
    padding: 0; }
  header nav.main li, header nav.technology li {
    display: inline-block; }
  header nav.main a, header nav.technology a {
    text-decoration: none;
    display: inline-block;
    padding: 10px; }

header nav.main {
  background: #fff; }
  header nav.main ul {
    float: right; }
  header nav.main a {
    color: #040404; }

header nav.technology {
  background: #222; }
  header nav.technology a {
    color: #fff; }

@media (max-width: 800px) {
  header nav.main, header nav.technology {
    text-align: center;
    padding: 10px; }
    header nav.main li, header nav.technology li {
      float: none;
      display: inline-block; }
    header nav.main a, header nav.technology a {
      text-decoration: none;
      display: inline-block;
      padding: 10px; }
  header nav.main {
    padding-top: 70px; }
    header nav.main li:first-child {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center; }
      header nav.main li:first-child a {
        display: inline-block;
        margin-top: 15px;
        border: 10px solid red; }
        header nav.main li:first-child a img {
          width: 50px;
          border: 10px solid red; } }

footer {
  clear: both;
  margin: 40px 0 0 0;
  padding: 0 0 20px 0;
  background: #222; }
  footer:after {
    content: '';
    clear: both;
    display: table; }
  footer, footer h2, footer a {
    color: #fff;
    text-decoration: none;
    font-weight: 300; }
  footer a:hover {
    text-decoration: underline; }
  footer nav {
    float: left;
    width: 250px;
    font-size: 14.4px;
    padding: 0 20px; }
    footer nav > ul, footer nav > li {
      margin: 0;
      padding: 0;
      list-style: none; }
    footer nav > li {
      margin: 1em 0; }
  footer nav.stack_overflow li:before {
    content: ">"; }

@media (max-width: 1040px) {
  footer nav {
    width: 250px; } }

@media (max-width: 840px) {
  footer {
    padding-top: 20px;
    width: auto; }
    footer nav {
      width: auto;
      float: none; } }

a {
  color: red;
  text-decoration: none;
  display: inline;
  position: relative; }
  a:after {
    position: absolute;
    width: 0%;
    bottom: 0;
    left: 0;
    display: block;
    height: 2px;
    background: red;
    content: "";
    transition: all 0.2s; }

a:hover:after {
  width: 100%; }

article a {
  transition: all 0.5s;
  border-bottom: 2px solid transparent; }
  article a:after {
    display: none; }
  article a:hover {
    border-bottom: 2px solid red; }

h1, h2, h3 {
  font-weight: 300; }
  h1 a, h2 a, h3 a {
    text-decoration: none; }

h1 {
  font-size: 44.0896px;
  letter-spacing: 2px; }
  h1, h1 a {
    color: black; }

h2 {
  font-size: 26.56px;
  letter-spacing: 1px; }
  h2, h2 a {
    color: #090909; }

h3 {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 800; }
  h3, h3 a {
    color: #222; }

.small {
  font-size: 12px; }

.light,
a.light {
  color: #888; }

@media (max-width: 800px) {
  h1 {
    font-size: 26.56px; } }

article {
  margin: 0 auto 40px 0;
  padding: 0 20px; }
  article img {
    width: 100%; }
  article.book_cover {
    text-align: center; }
  @media (max-width: 1000px) {
    article {
      width: auto;
      padding: 0 20px; }
    article section {
      width: auto; } }

figure {
  display: block;
  margin: 20px 0;
  padding: 0; }
  figure img {
    width: 100%; }
  figure figcaption {
    display: block;
    font-weight: bold; }

a.button {
  display: inline-block;
  background: red;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  transition: 0.5s all; }
  a.button.action {
    margin: 20px auto;
    font-size: 26.56px; }
  a.button:hover:after {
    display: none; }
  a.button:hover {
    background: black;
    box-shadow: 0px 0 0px 5px red, 0px 0 0px 10px black; }

.action_button_row {
  text-align: center; }

form {
  margin: 0;
  padding: 0; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

fieldset:first-child:before {
  display: none; }

fieldset:before {
  content: "";
  display: block;
  margin: 40px 0;
  width: 5%;
  height: 4px;
  background: #888; }

input, textarea {
  font-size: 16px;
  border: 1px solid #888;
  padding: 10px;
  border-radius: 2px; }

button {
  font-size: 16px;
  background: #858585;
  background-image: -webkit-linear-gradient(top, #858585, #2e2e2e);
  background-image: -moz-linear-gradient(top, #858585, #2e2e2e);
  background-image: -ms-linear-gradient(top, #858585, #2e2e2e);
  background-image: -o-linear-gradient(top, #858585, #2e2e2e);
  background-image: linear-gradient(to bottom, #858585, #2e2e2e);
  border-radius: 10px;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none; }
  button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none; }
  button .fa {
    margin-right: 10px; }

label {
  padding: 10px 0; }

.form_row {
  margin: 10px 0; }
  .form_row label {
    width: 25%;
    display: inline-block; }
  .form_row input {
    width: 74%; }

.form_block {
  margin: 10px 0; }
  .form_block label {
    display: block; }
  .form_block input, .form_block textarea {
    display: block;
    width: 100%; }
  .form_block textarea {
    height: 5em; }

code {
  font-family: monospace;
  background: #222;
  color: #a6e22e;
  padding: 2px 4px;
  border-radius: 5px; }
  code.code_block {
    display: block;
    margin: 20px 0;
    padding: 20px;
    overflow: auto;
    counter-reset: linecounter; }
    code.code_block .line {
      display: block;
      white-space: pre;
      counter-increment: linecounter; }
      code.code_block .line:before {
        content: counter(linecounter);
        width: 2em;
        display: inline-block;
        border-right: 1px solid #fff;
        margin-right: 1em; }

.course_creator {
  margin: 20px 0; }
  .course_creator article {
    width: 75%;
    float: left;
    padding: 0 20px 0 0; }
  .course_creator aside {
    padding: 20px;
    width: 25%;
    float: right;
    background: #888;
    color: #fff; }
    .course_creator aside p {
      margin: 0; }
    .course_creator aside h2 {
      margin: 0;
      font-size: 16px;
      font-weight: bold; }
    .course_creator aside ul, .course_creator aside li {
      margin: 0;
      padding: 0; }
    .course_creator aside li {
      margin-left: 1em; }
  .course_creator .shareButton {
    background: black;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin: 10px 0; }
    .course_creator .shareButton a {
      color: #fff;
      cursor: pointer; }
      .course_creator .shareButton a:after {
        display: none; }
    .course_creator .shareButton input {
      width: auto;
      display: block; }
  .course_creator .shareByEmailButton, .course_creator .bookButton {
    background: black;
    color: #fff;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    display: block; }
    .course_creator .shareByEmailButton:after, .course_creator .bookButton:after {
      display: none; }
  .course_creator section {
    transition: 0.5s;
    padding: 20px;
    border: 1px solid #888;
    margin: 0 0 20px 0;
    position: relative; }
    .course_creator section h2 {
      margin: 0 5em 0 0;
      font-size: 16px;
      font-weight: bold; }
    .course_creator section .readmore {
      position: absolute;
      top: 20px;
      right: 20px; }
    .course_creator section.selected {
      background: #444;
      color: #fff; }
      .course_creator section.selected .readmore {
        color: #fff; }
      .course_creator section.selected h2 {
        font-size: 26.56px;
        color: #fff; }
    .course_creator section a {
      border-bottom: none;
      cursor: pointer;
      color: #040404; }
  @media (max-width: 840px) {
    .course_creator article, .course_creator aside {
      float: none;
      width: auto; }
      .course_creator article .shareButton, .course_creator article .shareByEmailButton, .course_creator article .bookButton, .course_creator aside .shareButton, .course_creator aside .shareByEmailButton, .course_creator aside .bookButton {
        width: 50%;
        margin: 10px 0; }
    .course_creator aside {
      margin-bottom: 20px; }
    .course_creator article {
      padding: 0; } }

footer {
  clear: both;
  margin: 40px 0 0 0;
  padding: 0 0 20px 0;
  background: #222; }
  footer:after {
    content: '';
    clear: both;
    display: table; }
  footer, footer h2, footer a {
    color: #fff;
    text-decoration: none;
    font-weight: 300; }
  footer a:hover {
    text-decoration: underline; }
  footer nav {
    float: left;
    width: 250px;
    font-size: 14.4px;
    padding: 0 20px; }
    footer nav > ul, footer nav > li {
      margin: 0;
      padding: 0;
      list-style: none; }
    footer nav > li {
      margin: 1em 0; }
  footer nav.stack_overflow li:before {
    content: ">"; }

@media (max-width: 1040px) {
  footer nav {
    width: 250px; } }

@media (max-width: 840px) {
  footer {
    padding-top: 20px;
    width: auto; }
    footer nav {
      width: auto;
      float: none; } }

header nav.main, header nav.technology {
  margin: 0;
  padding: 0 20px;
  background: #fff; }
  header nav.main:after, header nav.technology:after {
    content: '';
    clear: both;
    display: table; }
  header nav.main .home, header nav.technology .home {
    float: left; }
    header nav.main .home img, header nav.technology .home img {
      width: 300px; }
  header nav.main ul, header nav.main li, header nav.technology ul, header nav.technology li {
    list-style: none;
    margin: 0;
    padding: 0; }
  header nav.main li, header nav.technology li {
    display: inline-block; }
  header nav.main a, header nav.technology a {
    text-decoration: none;
    display: inline-block;
    padding: 10px; }

header nav.main {
  background: #fff; }
  header nav.main ul {
    float: right; }
  header nav.main a {
    color: #040404; }

header nav.technology {
  background: #222; }
  header nav.technology a {
    color: #fff; }

@media (max-width: 800px) {
  header nav.main, header nav.technology {
    text-align: center;
    padding: 10px; }
    header nav.main li, header nav.technology li {
      float: none;
      display: inline-block; }
    header nav.main a, header nav.technology a {
      text-decoration: none;
      display: inline-block;
      padding: 10px; }
  header nav.main {
    padding-top: 70px; }
    header nav.main li:first-child {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center; }
      header nav.main li:first-child a {
        display: inline-block;
        margin-top: 15px;
        border: 10px solid red; }
        header nav.main li:first-child a img {
          width: 50px;
          border: 10px solid red; } }

section.intro {
  font-size: 26.56px;
  margin-bottom: 0;
  width: auto; }

aside.questions_answered {
  padding: 20px;
  margin: 20px 0;
  background: #eee;
  border-top: 3px solid black;
  font-style: italic; }
  aside.questions_answered h2 {
    font-size: 16px;
    margin-top: 0; }
  aside.questions_answered ul, aside.questions_answered li {
    margin: 0;
    padding: 0; }
  aside.questions_answered ul {
    margin-left: 20px; }

img.sectionLogo {
  display: block;
  height: 100px;
  width: auto;
  margin: 0 auto; }

nav.sharing {
  position: fixed;
  top: 200px;
  left: 0;
  width: 50px; }
  nav.sharing ul, nav.sharing li {
    margin: 0;
    padding: 0;
    list-style: none; }
  nav.sharing li {
    margin-bottom: 20px; }
  nav.sharing a {
    padding: 10px;
    display: block;
    background: #eee; }
    nav.sharing a:after {
      transition: 0s; }
  nav.sharing a:hover {
    background: #eee;
    width: 60px;
    padding-left: 20px; }
    nav.sharing a:hover:after {
      transition: 0s; }
  nav.sharing img {
    display: block;
    width: 30px; }
  @media (max-width: 1000px) {
    nav.sharing {
      position: static;
      width: auto;
      display: block;
      margin: 20px 0; }
    nav.sharing li, nav.sharing a, nav.sharing img {
      display: inline-block; }
    nav.sharing a {
      float: left;
      width: 50px;
      height: 50px; }
      nav.sharing a:hover {
        width: 50px;
        padding: 10px; } }

.subtitle {
  font-size: 26.56px;
  text-align: center; }

img.video {
  border: 1px solid black; }

.testimonials img {
  width: 10%;
  float: left;
  margin: 8px 20px 20px 0; }

.testimonials h2 {
  margin-top: 40px; }

nav.technology_banner {
  background: url(/images/backgrounds/small_steps_dark.png) #222;
  text-align: center; }
  nav.technology_banner h1 {
    margin: auto;
    padding: 30px 0 20px 0;
    text-align: center;
    color: #fff;
    max-width: 800px; }
  nav.technology_banner ul, nav.technology_banner li {
    margin: 0;
    padding: 0;
    list-style: none; }
  nav.technology_banner ul {
    padding: 0 0 30px 0; }
  nav.technology_banner li {
    display: inline-block;
    width: 100px;
    margin: 20px; }
  nav.technology_banner a {
    color: #fff; }

section.exercise {
  border: 1px solid black;
  border-radius: 3px;
  padding: 20px;
  margin: 40px 0; }
  section.exercise > :first-child {
    margin-top: 0; }

nav.course_sidebar {
  margin-top: 50px; }
  nav.course_sidebar h2, nav.course_sidebar p {
    margin: 10px 0;
    padding: 0 10px; }
  nav.course_sidebar h2 {
    font-size: 16px;
    font-weight: normal; }
  nav.course_sidebar .course {
    border: 1px solid black;
    border-radius: 5px; }
    nav.course_sidebar .course h2 {
      margin-top: 0;
      background: #040404;
      color: #fff;
      padding: 10px; }
  nav.course_sidebar .course_module {
    margin-top: 20px;
    background: #eee;
    border: 1px solid #eee;
    border-radius: 5px; }
    nav.course_sidebar .course_module h2 {
      background: #222;
      color: #fff;
      margin-top: 0;
      padding: 10px; }
      nav.course_sidebar .course_module h2 .number {
        margin-right: 1em; }
    nav.course_sidebar .course_module ul, nav.course_sidebar .course_module li {
      margin: 0;
      padding: 0;
      list-style: none; }
    nav.course_sidebar .course_module ul {
      padding: 10px; }
    nav.course_sidebar .course_module li {
      border-top: 1px solid #888; }

aside.box {
  border-radius: 3px;
  background: #222;
  padding: 20px;
  margin: 20px 0; }
  aside.box * {
    color: #fff;
    text-shadow: 1px 1px #090909; }
  aside.box *:first-child {
    margin-top: 0; }
  aside.box *:last-child {
    margin-bottom: 0; }

.exercise_resources {
  margin: 20px 0;
  background: #040404;
  color: #fff;
  padding: 20px;
  border-radius: 3px; }
  .exercise_resources a, .exercise_resources h2 {
    color: white; }
  .exercise_resources h2 {
    margin-top: 0; }

.social_auth ul, .social_auth li {
  margin: 0;
  padding: 0;
  list-style: none; }

.social_auth li {
  margin: 10px; }

.social_auth .facebook {
  background-color: #3b5998;
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-align: center; }
  .social_auth .facebook .fa {
    margin-right: 10px; }
  .social_auth .facebook:hover {
    background: #222; }

.social_auth .twitter {
  background-color: #55acee;
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-align: center; }
  .social_auth .twitter .fa {
    margin-right: 10px; }
  .social_auth .twitter:hover {
    background: #222; }

.social_auth .google {
  background-color: #dd4b39;
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-align: center; }
  .social_auth .google .fa {
    margin-right: 10px; }
  .social_auth .google:hover {
    background: #222; }

.social_auth .github {
  background-color: #444444;
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-align: center; }
  .social_auth .github .fa {
    margin-right: 10px; }
  .social_auth .github:hover {
    background: #222; }

.social_auth .linkedin {
  background-color: #007bb6;
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-align: center; }
  .social_auth .linkedin .fa {
    margin-right: 10px; }
  .social_auth .linkedin:hover {
    background: #222; }

.social_auth .instagram {
  background-color: #3f729b;
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-align: center; }
  .social_auth .instagram .fa {
    margin-right: 10px; }
  .social_auth .instagram:hover {
    background: #222; }

/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/
code .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #23241f; }

code .hljs,
code .hljs-tag,
code .hljs-subst {
  color: #f8f8f2; }

code .hljs-strong,
code .hljs-emphasis {
  color: #a8a8a2; }

code .hljs-bullet,
code .hljs-quote,
code .hljs-number,
code .hljs-regexp,
code .hljs-literal,
code .hljs-link {
  color: #ae81ff; }

code .hljs-code,
code .hljs-title,
code .hljs-section,
code .hljs-selector-class {
  color: #a6e22e; }

code .hljs-strong {
  font-weight: bold; }

code .hljs-emphasis {
  font-style: italic; }

code .hljs-attr {
  color: #6495ED; }

code .hljs-keyword,
code .hljs-selector-tag,
code .hljs-name {
  color: #f92672; }

code .hljs-symbol,
code .hljs-attribute {
  color: #66d9ef; }

code .hljs-params,
code .hljs-class .hljs-title {
  color: #f8f8f2; }

code .hljs-string,
code .hljs-type,
code .hljs-built_in,
code .hljs-builtin-name,
code .hljs-selector-id,
code .hljs-selector-attr,
code .hljs-selector-pseudo,
code .hljs-addition,
code .hljs-variable,
code .hljs-template-variable {
  color: #e6db74; }

code .hljs-comment,
code .hljs-deletion,
code .hljs-meta {
  color: #75715e; }

.book_page article {
  max-width: 800px; }

.course_page h1 {
  text-align: center;
  font-size: 73.18874px; }

.course_page img.sectionLogo {
  display: block;
  width: 30px;
  margin: 0 auto; }

.course_page .subtitle {
  font-size: 26.56px;
  text-align: center; }

.exercise_page aside.resources {
  background: #888;
  padding: 20px;
  color: #fff; }
  .exercise_page aside.resources h2 {
    margin-top: 0;
    color: #fff; }
  .exercise_page aside.resources a {
    color: #fff;
    text-decoration: underline; }

.homepage header nav.technology {
  display: none; }

.pullout {
  font-size: 26.56px;
  font-weight: 800;
  -webkit-transform: skew(-15deg); }

.highlight {
  font-weight: 800; }

aside.sidenote {
  position: absolute;
  right: 20px;
  padding: 20px;
  width: 250px;
  font-weight: 800;
  border-radius: 3px;
  border: 1px solid #222; }

.date {
  font-style: italic; }

iframe {
  width: 100% !important; }

.slideDown {
  transition: all 1s; }

@media (max-width: 1260px) {
  aside.pullquote {
    display: none; } }

/*# sourceMappingURL=style.css.map */