extends ../layouts/page_layout

block content
  .wrap
    article
      h1 Courses
      each course in courses
        h2= course.title

      :markdown
        ```bash
        console.log('yo');
        var x = "hey there";
        ```
