@import '../imports';

.exercise_page {

  aside.resources {
    background:$mid_grey;
    padding:$gutter;
    color:$white;
    h2 {
      margin-top:0;
      color:$white;
    }
    a {
      color:$white;
      text-decoration:underline;
    }
  }

}
