nav.course_nav
  ul
    li
      a( href="/course/angular/" ) Angular 1
    li
      a( href="/course/angular2/" ) Angular 2+
    li
      a( href="/course/react/" ) React
    li
      a( href="/course/angular/" ) Ionic 2
    li
      a( href="/course/backbone/" ) Backbone
    li
      a( href="/course/sass/" ) SASS
    li
      a( href="/course/mongo/" ) MongoDB
    li
      a( href="/course/ruby/" ) Ruby
    li
      a( href="/course/rails/" ) Rails
    li
      a( href="/course/javascript-and-jquery/" ) JavaScript & JQuery
    //- li
    //-   a( href="/courses/" ) Courses
    //- li
    //-   a( href="/automation/" ) Gulp
    //- li
    //-   a( href="/es6/" ) ES6
    //- li
    //-   a( href="/typescript/" ) TypeScript
