.course_links
  ul
    li
      a( href='https://github.com/forwardadvance/'+exercise.github rel="external" target="_blank" )
        | Github Repo
    li
      a( href='https://github.com/forwardadvance/'+exercise.github+'/archive/master.zip' rel="external" )
        | Download code as Zip
    li
      a( href='github-mac://openRepo/https://github.com/forwardadvance/'+exercise.github rel="external" )
        | Clone code in Github app
