title= title

meta( name="description" value=description ? description : "Forward Advance" )
meta( charset="utf-8" )
meta( content="IE=edge,chrome=1" "http-equiv"="X-UA-Compatible" )
meta( content="width=device-width, initial-scale=1", name="viewport" )
meta(name='csrf-token', content=_csrf)
link(rel='shortcut icon', href='/favicon.png')

if canonical
  link( href=canonical rel="canonical" )

//- link( rel="alternate" type="application/rss+xml" title="RSS Feed for forwardadvance.com" href="/feed.xml" )
