
%section
  :markdown

    # Form Validation



    Because forms are such a common interaction point, Angular gives us a directives to help us manage them.

    We can do validation, change detection, and can get access to the form state on-submit or on-input.

    ## The NgForm DirectivegForm directive to monitor form state. We can apply ngForm to a form like this:

    <form ngForm>
      <input />
    </form>

    ## Further Reading:

    * https://medium.com/@daviddentoom/angular-2-form-validation-9b26f73fcb81#.4ke8elew7
    * https://angular.io/docs/ts/latest/api/common/NgForm-directive.html
