:markdown
  The ng-cli is a command line generator for Angular.

  install with:

  ```bash
  npm install @angular/cli -g
  ```

  Now create a new app with

  ```bash
  ng new myapp
  ```

  start a server with:

  ```bash
  ng serve
  ```

  ## Viewing in a browser

  Open up `http://localhost:4200/` to check your work in a browser.

  If you want to use webpack-dev-server, you can open `http://localhost:4200/webpack-dev-server/index.html` to get the live reload server.

  ## Generating Component

  You can generate new components using:

  ```bash
  ng generate component new-component
  ```

  Likewise for services, directives, etc.

  Find the full documentation here: <https://github.com/angular/angular-cli/wiki>

section
  :markdown
    ## Exercise - Create an app

    Use the ng-cli to build yourself a simple hello world app.


