// -# TODO var i = index
// TODO: Filter?

section
  :markdown
    NgFor is a directive that allows you to show a list of things. Say we have an array of cheese declared in out component:

    `vm.cheeses = ['manchego', 'dolchelatte', 'fingers']`

    We can render it like so:

    ```html
    <ul>
      <li *ngFor='var cheese of cheeses'>
        {{ cheese }}
      </li>
    </ul>
    ```

    ## Template variable

    The star signals that the li should be used as a template. `var cheese of cheeses` signals that we should create a *template variable* a value that exists only in the context of the template. This will contain each of the cheeses in order.

    We have a shorthand for the variable declaration:

    ```html
    <ul>
      <li *ngFor='#cheese of cheeses'>
        {{ cheese }}
      </li>
    </ul>
    ```


  !=resources(exercise)

section.exercise
  :markdown
    ## Exercise - Output a list of cats

    We are going to create a list of cats. In our component, make an array of cat objects, like this:

    this.cats = [
      {
        name: "Hercule",
        age: 4
      },
      {
        name: "Claudette",
        age: 9
      }
    ]

    Now iterate over the list, outputting the values.
