:markdown
  JSX is a JavaScript *transpiler* that extends JavaScript with additional features. JSX is JavaScript with XML, and it lets you embed XML templates right into your JavaScript.

  For example, instead of writing this:

  ```
  var cats = React.createElement(
    "p",
    null,
    "Cats"
  );
  ```

  We can write this:

  ```jsx
  const cats = <p>Cats</p>;
  ```
.mini_exercise 
  | Try out some JSX at the 
  a( href="https://babeljs.io/repl/#?babili=false&evaluate=true&lineWrap=false&presets=es2015%2Creact%2Cstage-2&targets=&browsers=&builtIns=false&debug=false&experimental=false&loose=false&spec=false&code=const%20element%20%3D%20%3Cp%3ECats%3C%2Fp%3E%3B)" target="_blank") Babel repl here.
  | Try to make an anchor with an h1 inside of it. Add an href attribute. Check what it compiles to.

:markdown
  ## Components and Props

  
:markdown
  ## The Toolchain

  Babel is a transpiler. We add it to our *toolchain* to automatically convert JSX into JavaScript. When we save a file, babel will convert it

  The transpiler lets you convert jsx to js

  <https://facebook.github.io/react/docs/tooling-integration.html>
