
  ## Content Delivery Network (CDN)

  You might also serve the libraries directly from a Content Delivery Network (CDN). Here are some options:

  * <http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js>
  * <http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js>
  * <http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js>

  If you serve from a CDN you will need to be connected to the internet to work on your site.









