:markdown
  When building Backbone apps, it's usually helpful to create an AppView object which is responsible for bringing other views into existence. We then only need to create a new AppView() to bootstrap our application.

  In this realistic app we're going to use all the tools we have learned to build a real application.
