:markdown
  Ionic 2 is a CSS/JavaScript framework that sits on top of Angular 2. It lets you produce cross platform HTML5 applications that look and feel like native applications. You can then bundle them up as applications using Cordova and release them onto the Apple App store, the Google Play Store, and the Microsoft Phone Store

  In short, Ionic lets you build cross platform mobile applications using ordinary Angular 2.

  //- Install Cordova
