section
  :markdown
    Ionic 2 is a mobile application development framework that sits on top of Cordova.

    It provides CSS and Angular 2 components that let you create web pages that look like native apps. You can then bundle them up as applications using Cordova and publish them them on the Apple App store, the Google Play Store, and the Microsoft Store.

    Ionic lets you build cross platform mobile applications using ordinary Angular 2.

    ## What you get

    Ionic provides several things:

    * A generator - that lets you build standard projects to give you a running start.
    * A set of Angular 2 components - that look and work like native components.
    * CSS - to make the components look like native Apple, Android and Microsoft controls.
    * A development server, that will automatically rebuild your code and refresh the page when you save a file.
    * A bundler, that wraps the built app in a web view and creates a packaged app suitable for deployment on a mobile device.

    ## How it works

    Ionic lets you build an app with HTML, CSS and JavaScript. It then bundles them up into a webview, and packages that webview into an app. The final application is almost indistinguishable from a native app.
