:markdown
  # Nesting React Elements to Create a tree

  The DOM is a tree, things go inside other things, so the React virtual DOM allows us to create a tree too.

  The third parameter of createElement can be one of three things:

  1. A string
  2. A React Element
  3. An Array (or function call that returns an array)

  ### A String:

:ruby
  code = <<-CODE
  React.createElement('h1', null,
    "Text inside an h1"
  );
  CODE
=code(code)

:markdown

  Gives us an element containing a string.

  ### A React Element:

:ruby
  code = <<-CODE
  React.createElement('h1', null,
    React.createElement('em', null
      'text inside the em element.'
    )
  );
  CODE
=code(code)

:markdown

  Here we have an em inside an h1.

  ### An Array

:ruby
  code = <<-CODE
  React.createElement('header', null, [
    React.createElement('h1', null, "Hey from the h1");
    React.createElement('nav', null, "Hi from the nav");
  ]);
  CODE
=code(code)

:markdown

  Now we have a header containing an h1 and a nav.

