$white:#fff;
$light_grey:#eee;
$mid_grey:#888;
$dark_grey:#222;
$black: #040404;

$green: #9b9264;
$code_green: #a6e22e;

$facebook_blue:#3b5998;
$twitter_blue:#55acee;
$google_red: #dd4b39;
$github_grey: #444444;
$linkedin_blue: #007bb6;
$instagram_blue: #3f729b;
