nav.course_sidebar {
  margin-top:50px;

  h2, p {
    margin:$gutter/2 0;
    padding:0 $gutter/2;
  }

  h2 {
    font-size:$normal;
    font-weight:normal;
  }
  // a, span {
  //   // display:block;
  //   // padding:10px 0;
  //   // padding:$gutter/2 $gutter/2;
  // }
  // span{
  //   // font-weight:bold;
  // }
  .course {
    border:1px solid black;
    border-radius:5px;
    h2 {
      margin-top:0;
      background: $black;
      color: $white;
      padding:$gutter/2;
    }
  }
  .course_module {
    margin-top:$gutter;
    background: $light_grey;
    border:1px solid $light_grey;
    border-radius:5px;
    position:relative;
    header {
      background: $dark_grey;
      cursor: pointer;
      padding:0;
      transition:0.5s;
      h2 {
        margin:0;
        padding:$gutter / 2;
        padding-right:30px;
        color:$white;
        .number {
          margin-right:1em;
        }
      }
      .arrow {
        position:absolute;
        right:$gutter/2;
        top:$gutter/2;
        color:$white;
        transform: rotate(-90deg);
        transition:0.5s;
      }
    }
    ul {
      &.exercise_list, li {
        margin:0;
        padding:0;
        list-style:none;
      }
    }
    ul.exercise_list {
      padding: $gutter / 2;
    }
    li {
      border-top: 1px solid $mid_grey;
    }
    .module_resources {
      padding:0;
      margin:$gutter/2;
      ul, li {
        margin:0;
        padding:0;
      }
    }
    &.inactive {
      header {
        background: $mid_grey;
        .arrow {
          transform: rotate(90deg);
        }
      }
      ul, p, h3 {
        display:none;
      }
    }
  }
  // li ul {
  //   border:1px solid black;
  //   background: $dark_grey;
  //   padding:10px 10px 10px 30px;
  //   li {
  //     list-style:disc;
  //     color:white;
  //   }
  //   a {
  //     padding:0;
  //     color:white;
  //   }
  // }
}
