@import '../imports';
header {
  nav.main, nav.technology {
    @include clearfix;
    margin:0;
    padding:0 $gutter;
    background:$white;
    .home {
      float:left;
      img {
        width:300px;
      }
    }
    ul, li {
      list-style:none;
      margin:0;
      padding:0;
    }
    li {
      display:inline-block;
    }
    a {
      text-decoration:none;
      display:inline-block;
      padding:$gutter / 2;
    }
  }
  nav.main {
    background:$white;
    ul {
      float:right;
    }
    a {
      color:$black;
    }
  }

  nav.technology {
    background:$dark_grey;
    a {
      color:$white;
    }
  }


  @media (max-width: $mobile) {
    $mobile_image_size: 50px;
    nav.main, nav.technology {
      text-align: center;
      padding:$gutter/2;

      li {
        float:none;
        display:inline-block;
      }
      a {
        text-decoration:none;
        display:inline-block;
        padding:$gutter / 2;
      }
    }
    nav.main {
      padding-top:$mobile_image_size + $gutter;
      li:first-child {
        position:absolute;
        top:0;
        left:0;
        width:100%;

        text-align:center;
        a {
          display:inline-block;
          margin-top:$gutter*0.75;
          img {
            width:$mobile_image_size;
            border:10px solid red;
          }
        }
      }
    }
  }
}
