@import '../imports';

.wrap {
  width: $desktop;
  margin:0 auto;
  @include clearfix;

  @media (max-width: $desktop) {
    & {
      margin: 0 $gutter;
      width:auto;
    }
  }
}

.one_col {
  width: $desktop/4;
  padding:0 $gutter;
}

.two_col {
  width: $desktop/2;
  padding:0 $gutter;
}

.three_col {
  width: $desktop/4*3;
  padding:0 $gutter;
}
.four_col {
  width: $desktop;
  padding:0 $gutter;
}

.right {
  float:right;
}

.left {
  float:left;
}

.center {
  float:none;
  margin-left:auto;
  margin-right:auto;
}

.center_contents {
  text-align:center;
}
