---
title: "Angular 2 Exercise"
section: "typescript"
exercise: "decorators"
layout: "exercise"
---

%section
  :markdown
    # Decorators

    Decorators allow us to

    ## Further Reading

    * <https://github.com/Microsoft/TypeScript-Handbook/blob/master/pages/Decorators.md>

