extends ../layouts/page_layout

block content
  .liquid_wrap
    article.course_exercise.right.eight_col
      h1= exercise.title

      != exerciseContent

    .left.four_col
      -current_exercise = exercise
      include ../partials/course_sidebar
//-
