extends ../layouts/page_layout

block content
  .liquid_wrap
    article.course_exercise.right.eight_col
      h1= exercise.title
      if exercise.date
        span.date
          | Posted #{exercise.date.toDateString()}

      if exercise.github
        include ../partials/course_links

      != exerciseContent

    .left.four_col
      -current_exercise = exercise
      include ../partials/course_sidebar
