
section
  :markdown
    The Mongo Aggregation framework gives you a document query pipeline. You can pipe a collection into the top and transform it though a series of operations, eventually popping a result out the bottom (snigger).

    For example, you might take a result set, filter it, group by a particular field, then sum values in a particular group. You could find the total population of Iowa given an array of postcodes. You could find all the coupons that were used on Monday, and then count them.

    We can compose a pipeline as a set of JSON objects, then run the pipeline on a collection.


    ## Empty pipeline

    If you provide an empty pipeline, Mongo will return all the results in the collection:

    ```
    db.entrycodes.aggregate()
    ```

section.exercise
  :markdown
    ## Exercise - Create an Empty pipeline

    Try out the aggregate pipeline now. Call aggregate on your people collection. You'll see the result is the same as if you called find.

