extends ../layouts/page_layout

block content
  .liquid_wrap

    article.center.eight_col

      h1=course.title

      !=md(course.description)

      h2 Topics Covered
      -day = 0
      each courseModule in course.courseModules
        !=dayHeading(day, courseModule.title)
        -day += courseModule.duration
        ul
          each exercise in courseModule.exercises
            li= exercise.title
              ul
                if exercise.learnings
                  each learning in exercise.learnings
                    li=learning



      if course.prerequisites
        h2 Who should attend
        !=md(course.prerequisites)

      if course.instructor
        h2 Instructor
        !=md(course.instructor)

      if course.information
        h2 Other Information

        !=md(course.information)
