//- TODO Bundle the shimps and polyfills into the imports.

section
  :markdown
    Now that we can compile TypeScript, it's time to build an app.

    First up we'll need some HTML. We can import everything explicitly, or we can use webpack to bundle all our dependencies.

    ```html
    <html>
      <head>
        <title>Hello World</title>
        <script src="lib/es6-shim.min.js"></script>
        <script src="lib/angular2-polyfills.js"></script>
        <script src="lib/Rx.umd.js"></script>
        <script src='build/app.js'></script>
      </head>
      <body>
        <app></app>
      </body>
    </html>
    ```

    ## app.ts

    Next we need our bootstrapper object that will start the whole thing. This will look something like this:

    ```
    import 'reflect-metadata';
    import 'rxjs';
    import 'zone.js';

    import { bootstrap }    from '@angular/platform-browser-dynamic';

    import {AppComponent} from './app.component'

    document.addEventListener('DOMContentLoaded', function() {
      bootstrap(AppComponent);
    });

    ```

    If you have your compiler running you will notice that it fails at this point because it can't find app.component. We'll make this now.

    ## app.component.ts

    App.component looks like this. Notice how, instead of ng.core.component, we use the @component decorator. Instead of .Class, we export an actual class.

    Apart from this, all else is the same. We can still do inputs and events. We still have directives.

    ```
    import {Component} from '@angular/core';

    @Component({
        selector: 'app',
        template: `
          <h1>Hello World</h1>
        `
    })
    export class AppComponent { }
    ```

    ## tsconfig.json

    We also need a tsconfig.json file to tell TypeScript how to build. Put this in your root directory.

    ```json
    {
      "compilerOptions": {
        "target": "es5",
        "module": "commonjs",
        "moduleResolution": "node",
        "sourceMap": true,
        "emitDecoratorMetadata": true,
        "experimentalDecorators": true,
        "removeComments": false,
        "noImplicitAny": true,
        "suppressImplicitAnyIndexErrors": true
      },
      "exclude": [
        "node_modules",
        "typings/main",
        "typings/main.d.ts"
      ]
    }
    ```

    ## Package.json

    ```json
    {
      "name": "components_demo",
      "version": "1.0.0",
      "scripts": {
        "tsc": "tsc -w",
        "typings": "typings"
      },
      "license": "ISC",
      "dependencies": {
      },
      "devDependencies": {

        "@angular/common":  "2.0.0-rc.1",
        "@angular/compiler":  "2.0.0-rc.1",
        "@angular/core":  "2.0.0-rc.1",
        "@angular/http":  "2.0.0-rc.1",
        "@angular/platform-browser":  "2.0.0-rc.1",
        "@angular/platform-browser-dynamic":  "2.0.0-rc.1",
        "@angular/router":  "2.0.0-rc.1",
        "@angular/router-deprecated":  "2.0.0-rc.1",
        "@angular/upgrade":  "2.0.0-rc.1",
        "core-js": "^2.4.0",
        "reflect-metadata": "^0.1.3",
        "rxjs": "5.0.0-beta.6",
        "zone.js": "^0.6.12",
        "ts-loader": "^0.8.2",
        "typescript": "^1.7.5",
        "typings": "^0.6.8"
      }
    }
    ```


section.exercise
  :markdown
    ## Exercise - Implement the hello world above

    Try to get the simple hello world running in a browser. If you manage this. Try to implement the small app with the header, footer and cat we made yesterday.

    Be sure to create separate files for each item component. Use the naming scheme:

    ```
    cat.component.ts
    ```


section.exercise
  :markdown
    ## Harder Exercise - Cat Choice

    Use TypeScript to create a cat selector app. Create cat select components which have templates something like:

    ```
    <a (click)="tab=1">Cat 1</a>
    ```

    Store the currently selected cat in your app. There can only be one cat selected.

    Now create cat components, passing in the cat and whether or not it is selected.

    bind style.background to set the background colour of the selected cat.

    Build the above using TypeScript components.
