doctype html
html( ng-app="app" )
  head
    include ../partials/meta
    include ../partials/css


  body
    include ../partials/action_bar
    include ../partials/flash
    block layout_content
    include ../partials/javascript
    include ../partials/analytics
